---
# locale config
locale: "en_US.UTF-8"

# authorized key file
gh_profile: XXXXXXXXXX
gh_keys: https://github.com/{{ gh_profile }}.keys
gh_pgp: https://github.com/{{ gh_profile }}.gpg

#git configs
git_name: "Foo bar"
git_mail: foo@bar.com

#slack tokens are now in group_vars/all_secrets.yaml

# directories_config
home_dir: "/home/{{ ansible_user_id }}"
scripts_dir: "{{ home_dir }}/.scripts"
logs_dir: "{{ home_dir }}/.log"